.section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70rem;
    padding: 4rem 3rem;
}

.container {
    display: flex;
    flex-direction: column;
    margin-left: 6rem;
    gap: 5rem;
}

.container > p {
    width: 50rem;
}

@media(max-width: 600px) {
    .section {
        flex-direction: column;
        height: auto;
    }

    .section > div {
        width: auto;
        margin: 0 0 1rem 0;
    }

    .container {
        gap: 2rem;
    }

    .container > p {
        width: auto;
    }
}