.section {
    display: flex;
    justify-content: center;   
    align-items: center; 
    flex-direction: column;
    height: 70rem;
    padding: 0 3rem;
}

.carousels {
    width: 100%;
}

.titleDesc {
    align-items: center;
}

.titleDesc > p {
    white-space: nowrap;
}

.carousel {
    margin: 6rem;
}

@media(max-width: 600px) {
    .section {
        display: none;
    }
}